{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    
</head>

<body >
    <link rel="stylesheet" href="{% static 'css/globalFeed.css' %}">
    <div class="banned-div">

      <h1>Tu cuenta ha sido baneada</h1>
      <p>Ya no podras utilizar esta cuenta, ya que fue inhablitada por infringir las normas</p>
      {% if current_profile.banned %}
        
        <form action="{% url 'unbanRequest' current_profile.id %}?return_url={{ request.path }}" method="POST" class="unbanForm">   
          {% csrf_token %}                  
            {% if requested %}
            <div class="buttons">

              
              <button class="verifyButton" style="pointer-events: none" data-section="profile" data-value="required">Solicitado</button>
            </div>
            {% else %}
            <textarea  name="reason" id="" cols="60" rows="10" style="resize: none; width: auto;" placeholder="¿Porque deberia ser desbaneado?"></textarea>
                <div class="buttons">

                  <button>Solicitar</button>
                </div>
                {% endif %}        
              </form>
              <form action="{% url 'logout' %}">
                <input type="submit" value="Cerrar sesion">
              </form>
       
      {% endif %}
      
    </div>
</body>
<style>
  *{
    font-family: 'Roboto', sans-serif;
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
</style>
