{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <title>Buy</title>

  </head>
  <body>
    <div class="container">

      <nav class="navbar-1">
          <ul>
            <h1 style="font-size: 50px">Twitke</h1>
            <li><a href="{% url 'globalFeed' %}"><img  class="img-ul" src="{% static 'home_FILL0_wght400_GRAD0_opsz48.svg' %}"></a><li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'myProfile' user.id %}"><img class="img-ul"  src="{% static 'person_FILL0_wght400_GRAD0_opsz48.svg'%}" ></a></li>
            <li><a href="{% url 'keeped' user.id %}"><img class="img-ul"  src="{% static 'bookmark_FILL0_wght400_GRAD0_opsz48.svg' %}"></a></li>
            {% if user.is_staff %}
            <li><a href="{% url 'logout' %}"><img  class="img-ul" src="{% static 'verify-verified-check-icon.svg' %}"></a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}"><img  class="img-ul" src="{% static 'logout_FILL0_wght400_GRAD0_opsz48.svg' %}"></a></li>
            {% else %}
          
            <li class="signupButton"><a href="{% url 'signup' %}" ><img  class="img-ul" src="{% static 'register-14.svg' %}"></a></li>
            <li class="signinButton"><a href="{% url 'signin' %}"><img  class="img-ul" src="{% static 'login-svgrepo-com.svg' %}"></a></li>
          
            {% endif %}
          </ul>
        </nav>
        
        <main class="baseMain">

          {% block content %}
          
          {% endblock %}
        </main>
      
     
      
      <nav class="navbar-2">
        <form action="{% url 'search' %}">
              <input type="text" class="searchbar" name="search">
              <button>
                Search
              </button>
            </form>
      </nav>
    </div>
  </body>
</html>

