{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <title>Buy</title>
  </head>
  <body class="{% if current_profile.darkMode %}dark-theme{% endif %}">
    <div class="container">

      <nav class="navbar-1">
          <ul>
            <h1 style="font-size: 50px">Twitke</h1>
            <li><a href="{% url 'globalFeed' %}"><img  class="img-ul" src="{% static 'home_FILL0_wght400_GRAD0_opsz48.svg' %}"></a><li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'myProfile' user.id %}"><img class="img-ul"  src="{% static 'person_FILL0_wght400_GRAD0_opsz48.svg'%}" ></a></li>
            <li><a href="{% url 'keeped' user.id %}"><img class="img-ul"  src="{% static 'bookmark_FILL0_wght400_GRAD0_opsz48.svg' %}"></a></li>
              {% if user.is_staff %}
              <li><a class="verificateNav" href="{% url 'verificate' %}"><img  class="img-ul" src="{% static 'verify-verified-check-icon.svg' %}"></a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}"><img  class="img-ul" src="{% static 'logout_FILL0_wght400_GRAD0_opsz48.svg' %}"></a></li>
              {% else %}
              
              
              <li class="signupButton"><a href="{% url 'signup' %}" ><img  class="img-ul" src="{% static 'register-14.svg' %}"></a></li>
              <li class="signinButton"><a href="{% url 'signin' %}"><img  class="img-ul" src="{% static 'login-svgrepo-com.svg' %}"></a></li>
              
              {% endif %}

              <form action="{% url 'darkMode' %}?next={{ request.path }}" method="POST" id="darkModeForm">
                <div class="containerToggle">
                  {% csrf_token %}
                  <button type="submit" name="" id="toggle" value="" for="submit" onclick="darkMode(event, this)"></button>
                  
                </div>
              </form>
              <li class="twittearButton"><button>Twittear</button></li>
              
              
            </ul>
            <div class="current">
              <div class="user_card">
                {% if user.is_authenticated %}
                <div class="username2">

                  {% if current_profile.profileImage %}
                    <img src="{{current_profile.profileImage.url}} " alt="" class="fotito profilePhoto" style="width: 40px; border-radius: 50%; height:40px">
                  {% else %}
                    <svg class="profilePhoto" style="width: 40px; border-radius: 50%; height:40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>ProfileIcon</title><circle cx="16" cy="16" r="16" fill="#666"/><path d="M12.73 13.1a3.271 3.271 0 1 1 3.27 3.2 3.237 3.237 0 0 1-3.27-3.2zm-2.73 9.069h1.088a4.91 4.91 0 0 1 9.818 0h1.094a5.884 5.884 0 0 0-3.738-5.434 4.238 4.238 0 0 0 2.1-3.635 4.366 4.366 0 0 0-8.73 0 4.238 4.238 0 0 0 2.1 3.635 5.878 5.878 0 0 0-3.732 5.434z" fill="#eee"/><path fill="none" d="M0 0h32v32h-32z"/></svg>
                  {% endif %}
                  <div class="usernameBase">
                    
                    <form action="{% url 'myProfile' current_profile.user.id %}">
                      <button class="usernameTweet" style="color:white"><p>{{current_profile.user.username}}</p></button>
                    </form>
                    <p class="atName">@{{current_profile.user.username}}</p>
                  </div> 
                </div>
                {% endif %}
              </div>
              
            </div>
            
           
        </nav>
        
        <main class="baseMain">

          {% block content %}
          
          {% endblock %}
        </main>
      
     
      
        <nav class="navbar-2">
          <form action="{% url 'search' %}" class="searchForm">
            <div class="search-container">
              <input type="text" class="searchbar" name="search" placeholder="Buscar">
              <button type="submit" class="search-button">
                <img src="{% static '1093183.svg' %}" alt="">
              </button>
            </div>
          </form>
          
          <section class="aQuienSeguir">

            <h3 style="color: white;">A quien seguir?</h3>
            {% if random %}
              {% for user in random %}
                <div class="user_card">
                  <div class="username2">

                    {% if user.profileImage %}
                      <img src="{{user.profileImage.url}} " alt="" class="fotito profilePhoto" style="width: 40px; border-radius: 50%; height:40px">
                    {% else %}
                      <svg class="profilePhoto" style="width: 40px; border-radius: 50%; height:40px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>ProfileIcon</title><circle cx="16" cy="16" r="16" fill="#666"/><path d="M12.73 13.1a3.271 3.271 0 1 1 3.27 3.2 3.237 3.237 0 0 1-3.27-3.2zm-2.73 9.069h1.088a4.91 4.91 0 0 1 9.818 0h1.094a5.884 5.884 0 0 0-3.738-5.434 4.238 4.238 0 0 0 2.1-3.635 4.366 4.366 0 0 0-8.73 0 4.238 4.238 0 0 0 2.1 3.635 5.878 5.878 0 0 0-3.732 5.434z" fill="#eee"/><path fill="none" d="M0 0h32v32h-32z"/></svg>
                    {% endif %}
                    <div class="usernameBase">
                      
                      <form action="{% url 'myProfile' user.user.id %}">
                        <button class="usernameTweet" style="color:white"><p>{{user.user.username}}</p></button>
                      </form>
                      <p class="atName">@{{user.user.username}}</p>
                    </div>
                  </div>
                  <form action="{% url 'follow' id=user.user.id %}" id="followForm4" method="POST">
                    {% csrf_token %}
                    <button id="button4"  onclick="follow(event, this)" tweet-id="{{user.user.id}}" type="submit" class="boton"><p>{% if current_profile not in user.followers_users.all %}Follow{% else %}Unfollow{% endif %}</p></button>
                </form>
                </div>
                  
              {% endfor %}
             
            {% else %}
              <li class="elseSessionLi"><a class="elseSession" href="{% url 'signin' %}">Inicia sesion para ver</a></li>
            {% endif  %}
          </section>
         
        </nav>
        
    </div>
    <section class="modal modalTwittear">
      <div class="modal_container">
          <button href="#" class="modal_close_twittear">X</button>
          <form action="{% url 'postTweet' %}" method="POST" class="postTweetForm" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="content" placeholder="Que estas pensando..." cols="57" rows="10" required="" id="id_content" spellcheck="false"  style="border-bottom: 1px solid #767676;"></textarea>
            
            <div class="cosas" style="display: flex;  align-items: center;">

                <button id="miBoton" onclick="desactivarBoton()">
                    Twittear
                </button>
                <label for="tweetImage" class="attachment"><img src="{% static 'attachment-pin-icon.svg' %}" alt="" style="width: 15px; display: flex;"></label>
                <input type="file" name="tweetImage" multiple id="tweetImage" hidden>
            </div>
            
        </form>
      </div>
  </section>
  </body>
  <script src="{% static 'toggle.js' %}"></script>
  <script>

    const twittearButton = document.querySelector('.twittearButton')
    const modalTwit=document.querySelector('.modalTwittear')
    const modal_close_modalTwitter = document.querySelector('.modal_close_twittear')
    twittearButton.addEventListener('click', (e)=>{
      e.preventDefault()
      modalTwit.classList.add('modal--show')
    })

    modal_close_modalTwitter.addEventListener('click', (e)=>{
      e.preventDefault()
      console.log("hola")
      modalTwit.classList.remove('modal--show')
    })


    
    

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  function darkMode(e, btn){
    e.preventDefault();

    const darkModeForm = new FormData(document.getElementById('darkModeForm'));
    
    fetch(`/darkMode/`, {
        method: "POST",
        body: darkModeForm,
        headers: {
            "X-CSRFToken": getCookie('csrftoken'),
            "X-Requested-With": "XMLHttpRequest"
        }
    }).then(function(res){
        return res.json();  
    }).then(function(data){
        console.log(data)
        
        
    });
}


  </script>
  <style>
    .current{
      margin-top: auto;
      margin-bottom: 20px;
      padding: 10px;
      border-radius: 30px;
      cursor: pointer;
      transition: .3s ease background-color;
    }

    .current:hover{
      background-color: rgb(51, 51, 51);
    }

    .navbar-1{
      height: 100%;
      align-items: center;
      justify-content: center;
      
    }
    .twittearButton button{
      padding: 15px 50px;
      margin-top: 15px;
      background-color: rgb(29, 155, 240);
      border-radius: 40px;
      color: white;
      border: none;
      cursor: pointer;
      outline: none;
      transition: .5s ease background-color;
    }

    .twittearButton button:hover{
      background-color: rgb(23, 124, 192);
    }
    .navbar-1 ul{
      height: 100%;
    
    }
  </style>
</html>

