{% extends 'base.html' %}  {% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    </head>
    
    {% block content %}
    <link rel="stylesheet" href="{% static 'globalFeed.css' %}" />
    <link rel="stylesheet" href="{% static 'User.css' %}" />
    
    <div class="container-1">
        
        <h1 class="feedTitle" data-section="first-section" data-value="title">Inicio</h1>
        <div class="optionsFeed">
            <form action="" class="forYou">
                {% csrf_token %}
                <input type="text" name="foryou" hidden>
                <button  id="buttonForYou" data-section="first-section" data-value="foryou">
                    Para tí
                </button>
            </form>
            <form action="{% url 'globalFeed' %}" class="follows">
                {% csrf_token %}
                <button id="buttonSiguiendo" data-section="first-section" data-value="follow">
                    Siguiendo
                </button>
            </form>
            {% if is_insult %}
                <h1>DIOS MIO</h1>
            {% endif %}
        </div>
        {% if not buscado %}
            <form action="{% url 'postTweet' %}?return_url={{ request.path }}" method="POST" class="postTweetForm" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea data-section="first-section" data-value="placeholderArea" name="content" placeholder="Que estas pensando..." cols="57" rows="10" required="" id="id_content" spellcheck="false" {% if tweets %} style="border-bottom: none;" {% else %} style="border-bottom: 1px solid black;" {% endif %}></textarea>
                
                <div class="cosas" style="display: flex;  align-items: center;">

                    <button id="miBoton" onclick="desactivarBoton()"  data-section="navbar" data-value="buttonTweet">
                        Twittear
                    </button>
                    <label for="tweetImage" class="attachment"><img src="{% static 'attachment-pin-icon.svg' %}" alt="" style="width: 15px; display: flex;"></label>
                    <input type="file" name="tweetImage" multiple id="tweetImage" hidden>
                </div>
            </form>
        {% endif %}
    </div>
    
        {% if profilesSearched %}

            <div class="users"> 

                {% for profile in profilesSearched %}
                    {% include 'User.html' %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="tweets">
            {% for tweet in tweets %}
                {% include 'Tweet.html' %}
            {% endfor %}
            
            {% if error %}
                <img src="{% static '8331572.jpg' %}" alt="" class="notFoundImage">
                <h1 class="notCoincidence">No se encontraron coincidencias</h1>
            {% endif %}

        </div>
   
   
        

        <script>
          
            const msgButtons = document.querySelectorAll('.msgButton')
            const modal = document.querySelector('.modal')
            const cerrarModales = document.querySelectorAll('.modal_close')
            const divContent = document.querySelectorAll('.div-content')            
            const form = document.querySelector('.modal_container form');
            
            msgButtons.forEach(button=>{
                
                button.addEventListener('click', (e)=>{
                    e.preventDefault()  
                    e.stopPropagation()
                    modal.classList.add('modal--show')
                    const tweetId = button.id
                    form.action = `tweet/response/${tweetId}`

                })
            })

            
            const updateForm = document.querySelector('.modalUpdate')
            const edits = document.querySelectorAll('.edits')
            for(let edit of edits){
                edit.addEventListener('click', (e)=>{
                    
                    updateForm.classList.add('modalUpdate--show')

                })
            }

            for(cerrarModal of cerrarModales){

                cerrarModal.addEventListener('click', (e)=>{
                    e.preventDefault()
                    modal.classList.remove('modal--show')
                    updateForm.classList.remove('modalUpdate--show')
                    modalFoto.classList.remove('modal--show')
                    modalTwit.classList.remove('modal--show')
                })
            }
            
            const optionButtons = document.querySelectorAll('.optionButtons')
            const options = document.querySelectorAll('.options')
            const messages = document.querySelectorAll('.tweetMessage')
            optionButtons.forEach(button=>{
                button.addEventListener('click', (e)=>{
                    e.stopPropagation()
                    e.preventDefault();
                    option = button.nextElementSibling
                        if(option.getAttribute('data') == "true"){
                            option.style.display = "none"
                            option.setAttribute('data', 'false');

                        }else{
                            option.style.display = "flex"
                            option.setAttribute('data', 'true');
                        }
                        
                    
                        
                })
            })

            function desactivarBoton() {
                var boton = document.getElementById("miBoton");
                boton.style = "pointer-events: none";
              }

            
        

              

            

    
             
        
             
        </script>
        <script src="{% static 'ajaxUpdateTweet.js' %}"></script>
        <script src="{% static 'ajaxFollow.js' %}"></script>
        <script src="{% static 'toggle.js' %}"></script>

        <script src="{% static 'photoTweet.js' %}"></script>
{% endblock content %}
</html>