{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    
</head>
{% block content %}
<body >
    <link rel="stylesheet" href="{% static 'css/verificate.css' %}">
    <link rel="stylesheet" href="{% static 'css/globalFeed.css' %}">
    <div class="insultDetected">
        <h1>Insulto detectado</h1>
        <p>Se te ha puesto un strike por infringir la normas.</p>
        <p>Si completas todos los strikes, se te restringira el uso de la cuenta <br> por tiempo indeterminado</p>
        <p>Strikes restantes: {{current_profile.strikes}}</p>
        <form action="{% url 'globalFeed' %}">

            <button>
                Volver
            </button>
        </form>
    </div>
   
</body>
<style>
    .baseMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock content %}