{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy</title>
    
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'globalFeed.css' %}" />
    <div class="containerKept">
      <div class="backNav">
                
        <div class="firstNav">

            <a href="#" onclick="volverAlTweetAnterior();"><svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 96 1000 700" width="48"><path d="M480 896 160 576l320-320 42 42-248 248h526v60H274l248 248-42 42Z"/></svg></a>
            
            <h3>Tweets guardados</h3>
        </div>
    </div>
      {% if keeps.all|length == 0 %}
          <h2 style="margin-top: 100px">Guarda tus tweets favoritos para verlos más tarde</h2>
          <img src="{% static 'New-Startup-idea-searching.svg' %}" style="transform: scale(.7)">
      {% else %}
        {% for tweet in keeps %}
            {% include 'Tweet.html' %}
        {% endfor %}
          
      {% endif %}
    </div>
  </body>
  <script>
    function volverAlTweetAnterior() {
                const referrer = document.referrer;
                const tweetRegExp = /^\/tweet\/detail\/\d+$/;
                
                if (tweetRegExp.test(referrer)) {
                 
                    window.location.href = referrer;
                  // si la URL anterior es un tweet, redirigir al usuario a esa página
                } else {
                    // si no es un tweet, simplemente hacer history.back()
                    history.back();
                    location.reload()
                }
              }
              
              // evento para detectar cuando se utiliza el botón de retroceso
              window.addEventListener('popstate', volverAlTweetAnterior);
            
              function favs(e, btn){
                e.preventDefault();
                var keepForm = new FormData(document.getElementById('keepForm'));
                var id = btn.getAttribute('tweet-id');
                console.log(id);
                
                fetch(`/keep/${id}`, {
                    method: "POST",
                    body: keepForm,
                    headers: {
                        "X-CSRFToken": getCookie('csrftoken'),
                        "X-Requested-With": "XMLHttpRequest"
                    }
                }).then(function(res){
                    return res.json();  // Convierte la respuesta a JSON
                }).then(function(data){
                    location.reload()
                   
        
                });
            }
  </script>
  <style>
    .div-content:last-child{
      border-bottom: 1px solid black;   
    }
    
    .atName{
      font-size: 13px;
    }
  </style>
  {% endblock %}
</html>

