{% extends 'base.html' %}{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitke - Desbanear</title>
    
</head>
{% block content %}
<body >
    <link rel="stylesheet" href="{% static 'css/verificate.css' %}">
    <link rel="stylesheet" href="{% static 'css/globalFeed.css' %}">
    <div class="users">
        <h1 data-section="verificate" data-value="title">Desbanear usuarios</h1>
        <form action="" class="searchFormVerificate">
            <input type="text" name="searchUsers">
            <button><img src="{% static 'img/search-icon.svg' %}" alt=""></button>
        </form>
        {% if not users %}
          <p class="notCoincidence" data-section="verificate" data-value="withoutRequest">No hay solicitudes</p>
          <img src="{% static 'img/House searching-rafiki.svg' %}" alt="" class="notCoincidenceImg">
        {% endif %}
        {% for profile in users %}  
            <div class="user">

                <div class="usernameDiv">
                    <img style="width: 20px; height: 20px" src="{{profile.profile.profileImage.url}}" alt="">
                    <div class="username">

                        <p>{{profile.profile.user.username}}</p>
                        <p>@{{profile.profile.atName}}</p>
                    </div>
                </div>
                <p>{{profile.reason}}</p>
                <div class="buttonsVerificate">

                    <form action="{% url 'unbanUser' profile.profile.id %}">
                        {% if profile.profile.banned %}
                            <button class="button">Desbanear</button>
                        {% else %}
                            <button class="button">Banear</button>
                        {% endif%}
                    </form>
                    <form class="form"action="{% url 'deleteUnbanRequest' profile.profile.id %}">                      
                        <button class="buttonTrash"><img src="{% static 'img/delete_FILL0_wght400_GRAD0_opsz48.svg' %}"></button>
                    </form>
                </div>
            </div>

        {% endfor %}
    </div>
</body>
{% endblock content %}