<div class="profile-card">
    <img src="{{profile.profileImage}}" alt="">
    <form action="{% url 'myProfile' profile.user.username %}">
        <button class="usernameTweet" style="color:white"><p>{{profile.user.username}}</p></button>
    </form>
    <p class="atName" >@{{profile.username}}</p>
    <p>{{profile.biography}}</p>
    {% if current_profile not in profile.followers_users.all %}
        <form action="{% url 'follow' id=profile.user.id %}?return_url={{ request.get_full_path }}" method="POST">
            {% csrf_token %}
            <button type="submit" class="followButton">Follow</button>
        </form>
    {% else %}
        <form action="{% url 'follow' id=profile.user.id %}?return_url={{  request.get_full_path  }}" method="POST">
            {% csrf_token %}
            <button type="submit" class="followButton">Unfollow</button>
        </form>
    {% endif %} 
</div>