@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}


.baseMain{
    height: 100vh;
    display: flex;
    width: 40vw;
}

.navbar-1, .navbar-2{
    width: 30vw;
    background-color: #0e1720;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-1{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.navbar-2{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}




ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
}

ul img{
    width: 150px;
    border-radius: 10px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;

}
.navbar-2{
    justify-content: start;

}

.navbar-2 .searchForm{
    margin: 1em;
    width: 80%;
}
.navbar-2 form input{
    width: 80%;
}

  
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .searchbar {
    width: 70%;
    padding: 9px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    
  }
  
  .search-button {
    background-color: white;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: -35px; /* Ajusta el valor según sea necesario para alinear el botón */
    cursor: pointer;
    display: flex;
    align-items: center;
   
  }
  
  .search-button img {
    width: 20px;
    background-color: transparent;
    height: 20px;
    object-fit: cover;

  }

.img-ul{
    width: 50px;
}

.img-ul:hover{
    transform: scale(1.1);
}

.logo{
    margin-bottom: 20px;
}


.modalVerificate{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10000;
    background-color: #0000003f;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
}

.modal_container_verificate{
    width: 90%;
    background-color: white;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;

}

.modal_close{
    text-decoration: none;
    color: black;
    display: inline;
    cursor: pointer;
    border-radius: 6px;
    align-self: flex-start;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    padding: 0 2px;
}


.modalVerificate--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .1s;
}

.verificateNav{
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

.modalIcon{
    width: 20px;
    height: 20px;

}



.modalUserDiv{
    display: flex;
    gap: 5px;
}



#userContainer{
    margin-bottom: 20px;
}

.aQuienSeguir{
    width: 20rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    background-color: rgb(28, 29, 31);
    margin: auto;
    border-radius: 25px;
    gap: 25px;
    padding-bottom: 10px;
}

.aQuienSeguir h3{
   align-self: flex-start;
    padding: 10px 0;
}

.user_card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.usernameBase{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.username2{
    display: flex;
    gap: 10px;
}

.atName{
    color: rgb(113, 118, 123, 1);
}

.user_card .boton{
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    outline: none;
    border: none;
}

.user_card .boton:hover{
    background-color: #d4d2d2;
} 

.usernameTweet{
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.usernameTweet:hover{
    text-decoration: underline white 1px;
    cursor: pointer;
    
}

.fotoBase{
    width: 40px;
    height: 40px;
}

.elseSession{
    color: rgb(126, 124, 124);
    text-decoration: none;
    font-size: 20px;
}

.elseSessionLi{
    text-decoration: none;
    list-style: none;
}