*{
    padding: 0;
    margin: 0;
}
.container-1{
    width: 100%;
    padding: 0;
    margin: 0;
}
.containerKept{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.containerKept h1{
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    padding: 20px;
}
.containerKept h2{
    text-align: center;
    font-size: 25px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}
.feedTitle{
    font-size: 23px;
    background-color: black;
    color: white;
    padding-left: 25px;
}
.postTweetForm{
    width: 100%;
}
.postTweetForm textarea{
    border-bottom: none;
}
#id_content{
    width: 100%;
    outline: none;

}

.postTweetForm button{
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    border: none;
    background-color: rgb(29, 155, 240);
    position: relative;
    margin: 15px;
}
.postTweetForm button:hover{
    background-color: #41aaaf;
}
.tweet{
    text-decoration: none;
    color: black;
}

.tweets{
    display: flex;
    flex-direction: column-reverse;
    width: 40vw;
}

.div-content{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    height: auto;
    padding-left: 15px;
    width: 100%;
}



.div-content .usernameTweet{
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 17px;
    cursor: pointer;
    
}

.tweetHead{
    display: flex;
    justify-content: space-between;
}

.tweetHead button{
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tweetOptions div{
    height: auto;
    background-color: #488386;
    position: absolute;
    width: 100px;
    padding: 5px;
    transform: translate(-120px, -50px);
    font-size: 15px;
    border-radius: 5px;
    display: none;
    box-shadow: 0 px 5px 1px #999;
}

.tweetOptions button{
    position: relative;
    color: white;
    font-size: 15px;
    z-index: 1000000;
    
}

.tweetOptions button:hover{
    color: #c8e6e6;
    
}

.tweetHead svg{
    width: 24px;

}


.div-content .usernameTweet:hover{
    text-decoration: underline black 2px;
}


.buttons{
    display: flex;
    flex-direction: column;
}
.buttones{
    display: flex;
}

.fotos{
    display: flex;
    align-self: center;
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}

.fotos img{
    width: 100%; 
    height: 200px; 
    object-fit:cover; 
    
    justify-self:center;
}

.tresFotos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas con igual ancho */
    grid-template-rows: auto auto; /* Filas ajustadas al contenido */
    height: auto;
    place-items: center;
    margin: 0 auto;
    max-width: 400px ; 
  }
  
 .cuatroFotos{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto;
    height: auto;
   margin: 0 auto;
    max-width: 400px ; 
 }
  .tresFotos img:nth-child(1) {
    grid-column: 1; 
    grid-row: 1 / span 3;
    height: 100%;
    object-fit: cover;
  }
  
  .tresFotos img:nth-child(2),
  .tresFotos img:nth-child(3) {
    grid-column: 2; 
    object-fit: cover;
    height: auto;
  }


  .cuatroFotos img:nth-child(1)
  .cuatroFotos img:nth-child(4) {
    grid-column: 1;
    object-fit: cover;
  }

  .cuatroFotos img{
    height: 100%;

  }


textarea{
    width: 34vw;
    resize: none;
    padding: 15px;
}

.tweet{
    border-top: 1px solid black;
}

.tweet:first-child{
    border-bottom: 1px solid black;
}


.buttons button{
    background: transparent;
    border: none;
    padding: 10px 10px 5px 0;
    cursor: pointer;
}

.msgSvg:hover{
    fill: rgb(66, 66, 233);
}

.likeSvg:hover{
    fill: rgb(236, 52, 52);
}

.retweetSvg:hover{
    fill: rgb(15, 184, 15);
}

.keepSvg:hover{
    fill: rgb(211, 165, 15);
}


.likeForm{
    display: flex;
    align-items: center;
}

.likeForm p{
    text-decoration: none;
    pointer-events: none;
    transform: translateX(-7px);
}

.modal, .modalUpdate, .modalFoto{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10000;
    background-color: #0000003f;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
}

.modal_container, .modal_container_update, .modal_container_editProfile{
    width: 90%;
    background-color: white;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;

}

.modal_container_foto{
    width: 90%;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    align-items: center;
}

.modal_container_foto .modal_close{
    color: white;
}

.modalFoto.modal--show{

    background-color: #00000086;
}
.modal_container_editProfile form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.modal_container_editProfile input{
    width: 100%;
    height: 40px;
    padding-left: 15px;
}


.modal_container_editProfile{
    display: flex;
    flex-direction: column;
}

.editImage{
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.modal_container form, .modal_container_update form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_container .response, .modal_container_update input{
    padding: 10px 0 150px 10px;
    width: 100%;
    outline: none;
    
}

.modal_container .responseButton{
    right: 0;
    align-self: end;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    border-radius: 15px;
    color: white;
    font-size: 17px;
    border: none;
    background-color: #368a8e;
    transition: background-color ease-in-out .1s;
    cursor: pointer;
}

.modal_container .responseButton:hover{
    background-color: #45b4b9;
}

.modal_close, .modal_close_twittear{
    text-decoration: none;
    color: black;
    display: inline;
    cursor: pointer;
    border-radius: 6px;
    align-self: flex-start;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    padding: 0 2px;
}


.modal--show, .modalUpdate--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .1s;
}

.notCoincidence{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.notFoundImage{
    width: 300px;
    align-self: center;

}

.fotoPerfil{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.fotoPerfil svg, .fotoPerfil button{
    width: 35px;
}

.formName{
    font-size: 11px;
    gap: 20px;
}

.buttonsEdit{
    width: 100%;
    display: flex;
    align-items: center;
}

.buttonsEdit .modal_close{
    margin: 0;
}

.saveButton{
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    justify-self: flex-end;
    margin-left: auto;
    transition: .3s ease background-color;
    background-color:#41aaaf;
}

.saveButton:hover{
    background-color:#368a8e;
}

.input-file{
    width:50%;
}

.updateImage{
    width: 100%;
}

.updateImage input{
    padding: 0;    
    
}
.updateButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.modalUpdate .update{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color:#368a8e;
    color: white;
    padding: 3px;
    border: none;
    cursor: pointer;
    transition: .3s ease background-color;
}

.modalUpdate .update:hover{
    background-color: #41aaaf;
}

.optionsFeed{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
}

.optionsFeed form{
    width: 100%;
    height: 100%;
}

.optionsFeed button{
    width: 100%;
    height: 100%;
    background-color: rgb(2, 9, 22);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(153, 159, 165);
    transition: .3s ease background-color;
}


.optionsFeed button:hover{
    background-color: rgb(38, 41, 48);
}

.active{
    border-bottom: 2px solid rgb(8, 169, 243);
}

.cosas{
    display: flex;
    align-items: center;
}

.tweetImage{
    display: flex;
}

.attachment{
    cursor: pointer;
    transition: background-color .3s ease;
    padding: 6px;
    border-radius: 50%;
}
.attachment:hover{
    background-color: rgb(221, 218, 218);
}

.containerToggle{
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle {
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #626468;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: .5s ease background-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
}


#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: white;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    transition: all .5s ease;
}

.dark-theme #toggle{
    background-color: white;
}

.dark-theme #toggle:after{
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}

.dark-theme .navbar-1, .dark-theme .navbar-2{
    background-color: black;
}

.dark-theme .navbar-1{
    border-right: 1px solid rgba(113, 118, 123, 1);
}

.dark-theme .navbar-2{
    border-left: 1px solid rgba(113, 118, 123, 1);
}

.dark-theme .postTweetForm, .dark-theme textarea[name="content"]{
    background-color: black;
}

.dark-theme .attachment{
    background-color: white;
    padding: 7px;
}

.dark-theme .attachment:hover{
    background-color: rgb(150, 148, 148);
}

.dark-theme .div-content{
    background-color: black;
}

.dark-theme .div-content .username .usernameTweet, .dark-theme span{
    color: white;
}

.dark-theme .div-content .username .usernameTweet:hover{
    text-decoration: underline 1px white;
}

.dark-theme .formName p{
color: rgba(113, 118, 123, 1);;
}

.dark-theme .tweetOptions .optionButtons svg{
    fill: rgba(113, 118, 123, 1);
}



.dark-theme #id_content{
    color: white;
}

.dark-theme .msgSvg:hover{
    fill: rgb(66, 66, 233);
}

.dark-theme .likeSvg:hover{
    fill: rgb(236, 52, 52);
}

.dark-theme .retweetSvg:hover{
    fill: rgb(15, 184, 15);
}

.dark-theme .keepSvg:hover{
    fill: rgb(211, 165, 15);
}

.dark-theme .tweet{
    border-top: 1px solid rgba(113, 118, 123, 1);
}
.dark-theme .containerKept{
    background-color: black;
}

.dark-theme .containerKept h2{
    color: white;
}

.backNav{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    margin-left: 0px;

}
.firstNav{
    justify-self: flex-start;
    display: flex;
    align-items: center;
}


.backNav a{
    margin: 0  10px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.backNav a svg{
    color: white;
    width: 27px;
    filter: invert(1);
    font-weight: bold;
}

.dark-theme .tweet:first-child{
    border-bottom: 1px solid rgba(113, 118, 123, 1);
} 

.dark-theme .modal_container{
    background-color:black;
}

.dark-theme .modal_container input{
    background-color: black;
    border: 1px solid  rgba(255, 255, 255, 0.192);
    color: white;
}

.dark-theme .modal{
    background-color: rgba(255, 255, 255, 0.192);
}

.dark-theme .modal_container .modal_close, .dark-theme .modal_close_twittear{
    color: white;
}

.tweetMessage{
    margin: 10px;
    padding-right: 20px;
}

.dark-theme .followSpan{
    color: rgba(113, 118, 123, 1);
}

.dark-theme .notCoincidence{
    color: white;
}

.dark-theme .likeCount{
    color: #71767b;
}

.dark-theme .formResponse textarea{
    color: white;
    outline: none;
}
.dark-theme .buttons svg{
    fill: rgba(113, 118, 123, 1);
}  

.dark-theme .timeAgo{
    color: white;
}

.dark-theme .baseMain{
    background-color: black;
}

.dark-theme .postTweetForm{
    border-bottom: 1px solid rgba(113, 118, 123, 1);
}

.dark-theme .formUserName button p, .nothingHere{
    color: white;
}

.dark-theme .formUserName button p:hover{
    text-decoration: underline white 1px;
}

.dark-theme .parent_tweet{
    border: 1px solid rgba(113, 118, 123, 1);
}

