
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile{
    width: 100%;
}
.profile-banner{
    height: 20vh;
    width: 100%;
    background-color: rgb(128, 175, 228);
}
.profile-info{
    width: 100%;
    height: auto;
    background-color: rgba(22, 32, 42, 1);
    color: white;
    padding: 10px;
    padding-left: 20px;
}

.atName, .createdAt {
    color: rgba(113, 118, 123, 1);
    font-weight: 100;
    font-size: 13px;
}

.followers-info{
    
    display: flex;
    gap: 20px;
}

.cant_followers, h4, .following{
    bottom: 0;
    text-decoration: none;
    color: white;
    font-size: 14px;
    
}

.followName{
    display: flex;
    gap: 5px;
}

.followButton{
    padding: 2px;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;

}

.myTweets{
    font-size: 15px;
    margin-top: 20px;
    border-bottom: 3px solid rgb(37, 138, 179);  
    display: inline-block;
}

.followSpan{
    color: rgba(113, 118, 123, 1);
    font-weight: 100;
}


.modal, .modal2, .modal3{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 10000;
    background-color: #0000003f;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;
}

.modal2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.editImage{
    display: flex;
    flex-direction: column;
}

.modal_container, .modal_container3{
    width: 90%;
    background-color: white;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;

}


.modal_close{
    text-decoration: none;
    color: black;
    display: inline;
    cursor: pointer;
    border-radius: 6px;
    align-self: flex-start;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    padding: 0 2px;
}


.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .1s;
}
.seguidores{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.seguidor{
    width: 100%;
    border: 1px solid rgba(113, 118, 123, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    align-items: center;
}

.seguidor2{
    width: 100%;
    border: 1px solid rgba(113, 118, 123, 1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 20px;
    align-items: center;
}

.username p:first-child{
    font-weight: bolder;
}


.seguidor:first-child{
    margin-top: 20px;
}

.seguidor .follow{
    width: 100px;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(113, 118, 123, 0.514);
    color: white;
}

.seguidor .follow:hover{
    background-color: rgba(113, 118, 123, 0.603);
}

.profile-info svg{
    width: 80px;
}
.usernameTweet{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: auto;
}

.usernameTweet:hover{
    text-decoration: underline black;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editButton{
    margin-right: 50px;
    border-radius: 5px;
    background-color: rgba(113, 118, 123, 0.514);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;
    color: white;
    transition: background-color .3s ease, color .3s ease-in-out;
}

.editButton:hover{
    background-color: white;
    color: black;
}

.editImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.editImage input{
    margin: 0;
    padding: 0;
}

.cant_following{
    padding-left: 5px;
}

.follow{
    border: none;
    background-color: rgba(113, 118, 123, 0.514);
    color: white;
}

.follow:hover{
    background-color: rgba(113, 118, 123, 1);
}

.unfollowButton{
    border: none;
    color: white;
    background-color: rgb(71, 132, 201);
}

.userBiography{
    color: white;
    margin-top: 5px;
    font-size: 13px;
}

.profilePhoto{
   height: 80px;
   width: 80px;
   border-radius: 50%;
   margin-bottom: 15px;
   
}

.fotito{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.userWebSite{
    font-size: 13px;
    margin: 10px 0;
    color: rgba(113, 118, 123, 1);
}

.webAndCreated{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.userWeb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userWeb svg, .userBirth svg{
    color: white;
    width: 25px;
    padding: 3px;
}

.editImage form input{
    outline: none;
}

.userBirth{
    display: flex;
    align-items: center;
    gap: 0;
    margin: 0;
}

.userBirth p{
    color: rgba(113, 118, 123, 1);
    font-size: 13px;
}

.profile-banner{
    width: 100%;
}

.profileBanner{
    object-fit: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}