.users{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.users h1{
    text-align: center;
}
.usernameDiv{
    display: flex;
    gap: 20px;
}

.usernameDiv img{
    transform: scale(1.5);
    border-radius: 50%;
}

.user{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.username{
    display: flex;
    flex-direction: column;
}

.username p:last-child{
    font-size: 13px;
}

.buttonsVerificate .button{
    
    background-color: rgb(71, 71, 187);
    outline: none;
    cursor: pointer;
    border: none;
    padding: 3px;
    color: white;
}
.buttonsVerificate .button:hover{
    background-color: rgb(60, 60, 158);
}

.buttonsVerificate{
    display: flex;
   margin-right: 35px;
   align-items: center;
   justify-content: center;
}

.buttonTrash{

    border: none;
    transform: translateY(3.5px);
    outline: none;
    cursor: pointer;
    background-color: transparent;
    
}

.buttonTrash img{
    width: 25px;
    
}

.buttonTrash img:hover{
    transform: scale(1.1);
}

.searchFormVerificate input{
    margin-left: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 3px #444;
    padding: 4px;
}

.searchFormVerificate button{
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.searchFormVerificate button:hover{
    background-color: rgba(209, 207, 207, 0.267);
}
.searchFormVerificate img{
    width: 20px;
    height: 20px;
}
.searchFormVerificate{
    display: flex;
    align-items: center;
    gap: 5px;
}

.notCoincidence{
    text-align: center;
    font-size: 25px;
    
}


.dark-theme .users{
    background-color: black;
    height: 100%;
} 
.dark-theme .users h1{
    color: white;
}


.dark-theme .searchForm button{
    background-color: white;

    padding: 5px;
   
}

.dark-theme .username{
    color: white;
}

.dark-theme .username p:last-child{
    color: rgba(113, 118, 123, 1);
}

.dark-theme .user{
    border: 1px solid rgba(113, 118, 123, 1);
}
.dark-theme .buttonTrash img{
    background-color: white;
}

.atName{
    font-size: 13px;
}