{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'myProfile.css' %}">
    <link rel="stylesheet" href="{% static 'globalFeed.css' %}">
        <div class="profile">
            <div class="profile-banner">
                {% if usuario.profileBanner %}
                        <img src="{{usuario.profileBanner.url}} " alt="" class="profileBanner">
                {% endif %}
            </div>
            <div class="profile-info">
                <div class="top">

                    {% if usuario.profileImage %}
                        <img src="{{usuario.profileImage.url}} " alt="" class="profilePhoto">
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>ProfileIcon</title><circle cx="16" cy="16" r="16" fill="#666"/><path d="M12.73 13.1a3.271 3.271 0 1 1 3.27 3.2 3.237 3.237 0 0 1-3.27-3.2zm-2.73 9.069h1.088a4.91 4.91 0 0 1 9.818 0h1.094a5.884 5.884 0 0 0-3.738-5.434 4.238 4.238 0 0 0 2.1-3.635 4.366 4.366 0 0 0-8.73 0 4.238 4.238 0 0 0 2.1 3.635 5.878 5.878 0 0 0-3.732 5.434z" fill="#eee"/><path fill="none" d="M0 0h32v32h-32z"/></svg>
                    {% endif %}

                    
                    {% if is_self %}
                        {% if usuario.followers >= 999 and not usuario.is_verified%}
                        
                        <form action="{% url 'verifyRequest' usuario.id %}?return_url={{ request.path }}">
                        
                            
                            {% if requested %}
                                <button class="verifyButton" style="pointer-events: none">Solicitado</button>
                            {% else %}
                                <button class="verifyButton">Solicitar verificado</button>
                            {% endif %}

                            
                                        
                        </form>
                        {% endif %}
                        <button class="editButton">Editar</button>
                    {% endif %}
                    <section class="modal2">
                        <div class="modal_container_editProfile">
                            <div class="editImage">         
                                <form id="updateForm"  action="{% url 'updateProfile' usuario.id %}" method="POST"  enctype="multipart/form-data" class="editFrom"> 
                                    
                                    <div class="buttonsEdit">
                                        {% csrf_token %}

                                        <button href="#" class="modal_close">X</button>
                                        <button class="saveButton" onclick="update(event, this)" tweet-id="{{usuario.id}}">
                                            Guardar
                                        </button>
                                    </div>
                                    <div class="updateImage" style="display: flex; flex-direction: column">
                                        <label for="input-photo" >
                                        
                                            {% if usuario.profileImage %}
                                            
                                                <img src="{{usuario.profileImage.url}}" alt="" class="profilePhoto profilePhotoModal imgToEdit">
                                            {% else %}
                                                <svg class="imgToEdit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>ProfileIcon</title><circle cx="16" cy="16" r="16" fill="#666"/><path d="M12.73 13.1a3.271 3.271 0 1 1 3.27 3.2 3.237 3.237 0 0 1-3.27-3.2zm-2.73 9.069h1.088a4.91 4.91 0 0 1 9.818 0h1.094a5.884 5.884 0 0 0-3.738-5.434 4.238 4.238 0 0 0 2.1-3.635 4.366 4.366 0 0 0-8.73 0 4.238 4.238 0 0 0 2.1 3.635 5.878 5.878 0 0 0-3.732 5.434z" fill="#eee"/><path fill="none" d="M0 0h32v32h-32z"/></svg>                                       
                                            {% endif %}
                                        </label>
                                        <input
                                            type="file"
                                            name="input-photo"
                                            accept="image/*"                              
                                            id="input-photo"
                                            class="input-file"
                                            hidden
                                            />
                                            <label style="color: black">Banner:</label>
                                            <div class="uploadBanner">
                                                <input
                                                    type="file"
                                                    name="input-banner"
                                                    accept="image/*"                              
                                                    id="input-banner"
                                                    class="input-file"
                                                    />
                                            </div>
                                    </div>



                                    <input type="text" class="updateName" placeholder="Nombre..." name="input-name">
                                    <input placeholder="Biografia..." name="input-biography">
                                    <input type="date" name="birthday">

                                    <input type="text" value="" placeholder="Sitio web" name="webSite" class="webSite">
                                    <p class="error" style="color: black"></p>
                                </form>                     
                            </div>
                        </div>
                    </section>
                </div>
                <div class="followName">
                    <div class="userVerify">

                        <h3 class="username">{{usuario.user.username}}</h3>
                        {% if usuario.is_verified %}
    
                                <img src="{% static 'Twitter-Verified.svg' %}" alt="" style="width: 30px">
                        {% endif %}
                        {% if is_self %}
                            <form action="{% url 'verificateUser' usuario.id %}">
                                {% if usuario.is_verified %}
                                    <button class="Desverificar">Desverificar</button>
                                {% endif%}
                            </form>
                        {% endif %}
                    </div>
                    {% if not is_self %}
                        
                            <form action="{% url 'follow' id=usuario.id %}" method="POST" id="followForm">
                                {% csrf_token %}
                                <button class="followButton" id="button1" onclick="follow(event, this)" tweet-id="{{usuario.user.id}}" >
                                    <p class="followP">{% if current_user not in usuario.followers_users.all %} Follow {% else %} Unfollow {% endif %}
                                    </p>
                                    
                                </button>
                            </form>
                        
                    
                            
                    {% endif %}
                    
                </div>
                <h4 class="atName">@{{usuario.username}}</h4>    
                {% if usuario.biography %}
                    <p class="userBiography">{{usuario.biography}}</p>
                {% endif %}           
                <h4 class="createdAt">Se union en {{ usuario.created_at|date:"F" }} de {{ usuario.created_at|date:"Y" }}</h4>
                <div class="webAndCreated">
                    
                    {% if usuario.birthday %}
                    <div class="userBirth">
                        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path fill="rgba(113, 118, 123, 1)" d="m80 976 186-520 337 333L80 976Zm101-101 314-112-203-204-111 316Zm376-264-34-34 240-240q32-32 81-32.5t81 31.5l17 17-34 34-19-19q-19-19-44-19.5T800 368L557 611ZM398 456l-34-34 30-30q23-23 21.5-52.5T394 290l-28-28 34-34 26 26q35 35 34.5 87.5T425 429l-27 27Zm81 77-34-34 152-152q19-19 18.5-48.5T596 250l-61-61 34-34 63 63q31 32 32 80.5T633 379L479 533Zm158 159-34-34 47-47q35-35 84-36t84 34l51 51-34 34-52-52q-23-23-48-23t-48 23l-50 50ZM181 875Z"/></svg>
                        <p>{{usuario.birthday}}</p>
                    </div>
                    {% endif %}  
                    {% if usuario.webSite %}
                        <div class="userWeb">
                            <svg xmlns="http://www.w3.org/2000/svg" height="25" viewBox="0 96 960 960" width="25"><path fill="rgba(113, 118, 123, 1)" d="M450 776H280q-83 0-141.5-58.5T80 576q0-83 58.5-141.5T280 376h170v60H280q-58.333 0-99.167 40.765-40.833 40.764-40.833 99Q140 634 180.833 675q40.834 41 99.167 41h170v60ZM325 606v-60h310v60H325Zm185 170v-60h170q58.333 0 99.167-40.765 40.833-40.764 40.833-99Q820 518 779.167 477 738.333 436 680 436H510v-60h170q83 0 141.5 58.5T880 576q0 83-58.5 141.5T680 776H510Z"/></svg>
                            <a href="https://{{usuario.webSite}}" class="userWebSite" target="_blank">{{usuario.webSite}}</a>
                        </div>
                    {% endif %}
                </div>

                <div class="followers-info">
                  
                    <a href="#" class="cant_followers">{{cant_followers}} <span class="followSpan">seguidores</span></a>
                    
                    <a href="#" class="following">{{cant_following}} <span  class="followSpan">siguiendo</span></a>
                </div>
                <h1 class="myTweets">Mis tweets</h1>
            </div>
            <section class="modal">
                <div class="modal_container">
                    <button href="#" class="modal_close">X</button>
                    <h1>Seguidores</h1>
                    <div class="seguidores">
            
                        {% for follower in followers %}
                            <div class="seguidor2">
                                <div class="username">
                                    <form action="{% url 'myProfile' follower.user.id %}">
                                        <button class="usernameTweet">{{follower.user.username}}</button>
                                    </form>
                                    <p>@{{follower.username}}</p>
                                </div>
                                
                                {% if follower.user != request.user %}
                                    <form action="{% url 'follow' id=follower.id %}" method="POST" id="followForm2">
                                        {% csrf_token %}
                                        <button class="button2 followButton {% if current_user not in follower.followers_users.all %} follow {% else %} unfollowButton {% endif %}" onclick="follow(event, this)" tweet-id="{{usuario.user.id}}" id="button2" >
                                            <p>{% if current_user not in follower.followers_users.all %} Follow {% else %} Unfollow {% endif %}</p>
                                        </button>
                                    </form>
                                {% endif %}
                            
                                        
                                        
                                        
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
            <section class="modal3">
                <div class="modal_container3">
                    <button href="#" class="modal_close">X</button>
                    <h1>Siguiendo</h1>
                    <div class="siguiendo">
                        {% for follow in following %}
                            <div class="seguidor">
                                <div class="username">
                                    <form action="{% url 'myProfile' follow.user.id %}">
                                        <button class="usernameTweet">{{follow.user.username}}</button>
                                    </form>
                                    <p>@{{follow.username}}</p>

                                </div>                       
                               <form action="{% url 'follow' id=follow.user.id %}" method="POST" id="followForm3">
                                    {% csrf_token %}
                                    <button id="button3"onclick="follow(event, this)" tweet-id="{{follow.user.id}}" type="submit" class="followButton {% if follow in current_user.followed_users.all %} unfollow {% else %} follow {% endif %}">
                                        <p>{% if follow in current_user.followed_users.all %} unfollow {% else %} follow {% endif%}</p>
                                    </button>
                                </form> 
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
                <div class="tweets">

                    {% for tweet in tweets %}
                            {% include 'Tweet.html' %}
                    {% endfor %}
                </div>
    
            </div>
            <script src="{% static 'ajaxFollow.js' %}"></script>
        <script>

            const regexWebSite = /www\.\w+\.\w{2,}/
            const inputWebSite = document.querySelector('.webSite')
            const editForm = document.querySelector('.editFrom')
            inputWebSite.addEventListener('input', e => {
                if (!regexWebSite.test(inputWebSite.value)) {
                    inputWebSite.style.border = '1px solid red';
                } else {
                    inputWebSite.style.border = '1px solid green';
                }
            })
            
            editForm.addEventListener("submit", e => {
                e.preventDefault();
                if (inputWebSite.value === '') {
                    editForm.submit();
                } else if (regexWebSite.test(inputWebSite.value)) {
                    editForm.submit();
                }
            })


            const modal = document.querySelector('.modal')
            const modal2 = document.querySelector('.modal2')
            const modal3 = document.querySelector('.modal3')
            const cerrarModales = document.querySelectorAll('.modal_close')
            const button = document.querySelector('.cant_followers')
            const following = document.querySelector('.following')
            const edits = document.querySelectorAll('.edits')
            const updateForm = document.querySelector('.modalUpdate')
            for(let edit of edits){
                edit.addEventListener('click', (e)=>{
                    console.log(1)
                    updateForm.classList.add('modalUpdate--show')

                })
            }
            button.addEventListener('click', (e)=>{
                e.preventDefault()  
                modal.classList.add('modal--show')
                

            })

            following.addEventListener('click', (e)=>{
                e.preventDefault()  
                modal3.classList.add('modal--show')
            })




            for(let cerrarModal of cerrarModales){
                cerrarModal.addEventListener('click', (e)=>{
                    e.preventDefault()
                    modal.classList.remove('modal--show')
                    modal2.classList.remove('modal--show')
                    modal3.classList.remove('modal--show')
                    modalMsg.classList.remove('modal--show')
                    updateForm.classList.remove('modalUpdate--show')
                })
            }
            
                
            
            const optionButtons = document.querySelectorAll('.optionButtons')
            const options = document.querySelectorAll('.options')
            const messages = document.querySelectorAll('.tweetMessage')
            optionButtons.forEach(button=>{
                button.addEventListener('click', (e)=>{
                    e.stopPropagation()
                    e.preventDefault();
                    option = button.nextElementSibling
                        if(option.getAttribute('data') == "true"){
                            option.style.display = "none"
                            option.setAttribute('data', 'false');

                        }else{
                            option.style.display = "flex"
                            option.setAttribute('data', 'true');
                        }
                        
                    
                        
                })
            })

            const msgButtons = document.querySelectorAll('.msgButton')
            const editButton = document.querySelector('.editButton')
            const modalMsg = document.querySelector('.modalMsg')
            msgButtons.forEach(button=>{
                
                button.addEventListener('click', (e)=>{
                    e.preventDefault()  
                    modalMsg.classList.add('modal--show')
                    console.log("hola")
                    const tweetId = button.id
                    console.log(tweetId)
                    form.action = `../../tweet/response/${tweetId}`

                })
            })

            editButton.addEventListener('click', (e)=>{

                e.preventDefault()
                modal2.classList.add('modal--show')
            })
        
            var input = document.getElementById('input-photo');
            input.addEventListener('change', function() {
            var file = input.files[0];
            var reader = new FileReader();
            reader.onload = function() {
                var url = reader.result;
                var img = document.querySelector('.profilePhotoModal');
                console.log(img)
                img.src = url;
            }
            reader.readAsDataURL(file);
            });


        </script>
        <script src="{% static 'ajaxUpdate.js' %}"></script>
        <script src="{% static 'ajaxUpdateTweet.js' %}"></script>
        <style>
            .followButton{
                margin-right: 30px;
            }
            .profilePhoto{
                margin: 0;
            }

            .userVerify{
                display: flex;
                align-items: center;
            }

            .verifyButton{
                padding: 3px;
                background-color: rgb(21 141 242);
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                border-radius: 5px;
                transition: ease background-color .3s;
            }

            .verifyButton:hover{
                background-color: rgb(17, 121, 206);
            }

            .Desverificar{
                background: rgb(21 141 242);
                color: white;
                border: none;
                cursor: pointer;
                padding: 2px;
                border-radius: 5px;
                margin: 0;
            }

            .Desverificar:hover{
                background-color: rgb(17, 121, 206);
            }

            .imgToEdit:hover{
                
                filter: brightness(.4);
                cursor: pointer;
            }

            .imgToEdit {
                position: relative;
                top: 0;
                left: 0;
                cursor: pointer;
              }
           
              
        </style>
        
    {% endblock content %}

        
</body>
</html>