{% extends 'base.html' %}

{% block content %}
<div class="done">
    <div class="done-text">

        <h1>CAMBIAR CONTRASEÑA</h1>
        <p>Te hemos enviado un correo electronico para cambiar tu contraseña.</p>
    </div>
</div>

<style>
    .done{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        justify-content: center;
        width: 100%;
        
    }

    .done .done-text{
        border: 1px solid black;
        box-shadow: 0 2px .3px .5px #c4c2c2;
        height: auto;
        padding: 15px;
    }

  
</style>
{% endblock %}