{% extends 'base.html' %}

{% block content %}
<body>
    

    <form action="" method="POST" class="formChange">
        <h1>Recuperar tu Email</h1>
        {% csrf_token %}

        {{form.email }}
        <input type="submit" value="Enviar">
    </form>
</body>
<style>
    .baseMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .baseMain .formChange{
        box-shadow: 0 0 3px 1px #999;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }

    .formChange input[type="email"]{
        width: 70%;
        margin: 0;
        padding: 5px;
        outline: none;
        border: none;
        box-shadow: 0 1px .3px .5px #c4c2c2;
        
    }

    .formChange input[type="submit"]{
        padding: 5px;
        background-color: #1a73e8;
        width: 100px;
        color: white;
        cursor: pointer;
        border: none;
        transition: .3s ease background-color, .3s ease box-shadow;
    }

    .formChange input[type="submit"]:hover{
        background-color: #1b66c8;
        box-shadow: 0 1px .3px .5px #c4c2c2;
    }


</style>
{% endblock %}