{% extends 'base.html' %}

{% block content %}
<div class="done">
    <div class="done-text">

        <h1>CAMBIAR CONTRASEÑA</h1>
        <p>Te hemos enviado un correo electronico para cambiar tu contraseña.</p>
        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ form.email.value }}">
            <button class="completeButton">Enviar nuevamente</button>
          </form>

          
    </div>
</div>

<style>
    .done{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        justify-content: center;
        width: 100%;
        
    }

    .done .done-text{
        border: 1px solid black;
        box-shadow: 0 2px .3px .5px #c4c2c2;
        height: auto;
        padding: 15px;
    }

    .completeButton{
        padding: 5px;
        background-color: #1a73e8;
        width: auto;
        color: white;
        cursor: pointer;
        border: none;
        transition: .3s ease background-color, .3s ease box-shadow;
        margin-top: 20px;
    }

    .completeButton:hover{
        background-color: #1b66c8;
        box-shadow: 0 1px .3px .5px #c4c2c2;
    }

  
</style>
{% endblock %}