{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'signup.css' %}">
        <main class="main-singup">

            <form action="/signup/" method="POST" class="form-singup">
                <h1>Signup</h1>
                {% csrf_token %}
                <div class="input-div">
                    <img src="{% static 'user.svg' %}" alt="">
                    <input placeholder="Username" type="text" name="username" id="username" autocomplete="off" class="passwords">
                </div>
                <div class="input-div">
                    <img src="{% static 'lock.svg' %}" alt="">
                    <input placeholder="Password" type="password" name="password1" id="password1" autocomplete="off" class="passwords">
                </div>
                <div class="input-div">
                    <img src="{% static 'lock.svg' %}" alt="">
                    <input placeholder="Confirm Password" type="password" name="password2" id="password2" autocomplete="off">
                </div>
                <div class="buttons">

                    <button>
                        SIGN UP
                    </button>
                    <a href="{% provider_login_url 'google' %}" class="google-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                        Google
                    </a>
                    </div>
                    <a href="{% url 'signin' %}" class="haveAccount">¿Ya tienes una cuenta?. Ingresa aqui</a>
            </form>
            {% if error %}
                <span style="position: absolute;color: red;
                 top: 20px; outline: 1px solid red; border-radius: 10px; padding: 10px;">{{error}}</span>
            {% endif %}
        </main>
        <script src="{% static 'validation.js' %}"></script>
    {% endblock content %}

        
</body>
</html>