{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'signin.css' %}">
    <main class="main-signin">
        <form action="/signin/" method="POST" class="form-singin">
            <h1 data-section="signin" data-value="title">Signin</h1>
            {% csrf_token %}
            
            <div class="form__group">
                <input type="text" class="form__input min" placeholder=" " 
                name="username">
                <label for="username" class="label_form"  data-section="signup" data-value="labelUser" autocomplete="on" >Usuario</label>
            </div>
            <div class="form__group">
                <input type="password" class="form__input min" placeholder=" " 
                name="password">
                <label for="password" class="label_form"  data-section="signup" data-value="labelPassword" autocomplete="on" >Contraseña</label>
            </div>
            <div class="buttons">

                <button data-section="signin" data-value="buttonSign">
                    LOG IN
                </button>
                <a href="{% provider_login_url 'google' %}" class="google-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48"><defs><path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"/><path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"/><path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"/><path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"/></svg>
                    Google
                </a>
            </div>
            <a href="{% url 'password_reset' %}" class="forgotPassw" data-section="signin" data-value="forgotPassw">Olvide mi contraseña</a>

            <a href="{% url 'signup' %}" class="dontHaveAccount" data-section="signin" data-value="haveAccount">¿No tienes una cuenta?. Registrate aquí</a>
        </form>    
        {% if error %}
            <span class="error" style="position: absolute;color: red;
            top: 20px; outline: 1px solid red; border-radius: 10px; padding: 10px;">{{error}}</span> 
        {% endif %}
    </main>
    <style>
        
    </style>
    {% endblock content %}

</body>
</html>